# Dependencias
node_modules/

# Archivos de reportes automáticos
mochawesome*.json
report*.json

# Videos y screenshots de Cypress
cypress/videos/

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log
